@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

@layer base {
  main {
    text-wrap: pretty;
  }
}

@layer utilities {
  .page-px {
    padding-left: 160px;
    padding-right: 160px;
  }
}

